html.testbench { height: 100%;} 
body.testbench { height: 100%;} 

div#notification_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
/* for notification div tag*/
.notification_overlay{
	overflow: hidden;
	max-height: 100%;
}

.notification_wrapper_popup{

}

.notification_wrapper_overlay{
	width: 100%;
	padding-top: 50%;
	background: rgba(32,32,32,0.5);
	height: 1000000px;
}

.notification_box_overlay{
	margin: -260px auto;
	width: 400px;
	height: 130px;

	border: 2px solid #707070;
	
	display: block;	background: #eee;

	background: linear-gradient(to top left, #bbb 0%, #eee 100%); 
}

.notification_box_popup{

	position: absolute;
	top: 1em;
	right: 1em;	
	width: 320px;
	min-height: 96px;
	box-shadow: 0px 4px 8px rgba(64,64,64,0.7);

	border: 2px solid #707070;
	display: block;	background: #eee;
	
	background: linear-gradient(to top left, #bbb 0%, #eee 100%); 
}

.notification_close{
	float: right;
	margin: 0;	
	background: #707070;
	border: 0;
	color: #eee;
	cursor:  pointer;
}
.notification_close:active{
	background: #999;
}

.notification_box_clickable{
	cursor: pointer;
}
.notification_text{
	margin: 10px;
	display: block;
}

/* copied*/

ul.notification_item_group{
	
	margin-left: 1;
	margin-top: 0;
	margin-bottom: 0;

    padding:0px 23px 0 10px;
    list-style:none;
    display: inline-block;
    border-right:1px inset;
}

li.notification_item>label{	
    width: 20px;
    display:inline-block;
    text-align: left;
    padding-right:10px;  /**/
    padding:0px 23px 0 10px;
}
li.notification_item>input{
    width: auto;
}
li.notification_item>input[type=text]{
    border:1px solid #707070;
    padding: 0 0.2em;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
li.notification_item .notification_item_subgroup{
    display: inline-block;
    width: 110px;
}

.widget_notification_testelements{
	display: none;
}