#annotation_wrapper 
{
    position: fixed; 
    margin-left: 85%; 
    z-index: 3; 
    width: 15%; 
    right: 0px; 
    top:0px; 
    bottom: 0px; 
    height:99%
}
#annotation
{
    width:100%; 
    height:100%
}
#annotation_text
{
    width:100%; 
    height:100%; 
    border: none;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
