#editmode_greycanvas
{
	width: 100%;
	height: 100%;
	opacity: 0.75;
	background: #eeeeee;
}

#editmode_editdiv
{
	overflow: hidden;
	z-index: 200;
	position: relative;
	top: 0px;
	left: 0px;
}

.visible
{
	visibility: visible;
	z-index: 100;
}

.invisible
{
	visibility: hidden;
	z-index: 1;
}