
div#letter_pages_wrapper {
    background-color: #ebebeb;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*  just works as long as we just have one page, either we use multiple canvas
 *  elements or we draw border / shadow by canvas 
 */
canvas#letter_pages {
    margin: 1em;
    width: 818px;
    border: #666 solid 1px;
    box-shadow: 2px 2px 4px #999;
}

canvas.upper-canvas {
	margin: 1em;
}

.__pseudo__#letter_page{
    color: black;
    font-family: Calibri;
    font-size: 12pt;
    font-style: normal;
    background: #fefefe;
}

div#letter_pages_wrapper {
	position: relative;
}