*{
    font-family: sans-serif;
}

.noselect, .noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,body{
    padding:0;
    margin:0;
    height: 100%;
    overflow: hidden;
}

/* wrapper == body */
#wrapper.modeoverlay{
    overflow: hidden;
}

.modeoverlay #overlay{
    display: block;
    visibility: visible;
    position:absolute;
    
    /*background-color:#eee;*/
    background-color:rgba(238,238,238,0.8);
    color: #666;
    
    width: 100%;
    height: 50%;
    top:0;
    left: 0;
    margin:0;
    padding-top:50%;
    
    text-align: center;
    font-size: 2em;    
}

.modenormal #overlay{
    display: none;
    visibility: hidden;
}

div.break{
    clear: both;
}
