div#widget_masterdata_personeditor > div.widget_masterdata_content_row
{
	height: 208px;
}

/*
 * Anpassung für eizellnen Elemente
 * 
 */

ul.widget_masterdata_content_list > li > label#widget_masterdata_personeditor_salutaion_label
{
	width: 80px;
}
ul.widget_masterdata_content_list > li > label#widget_masterdata_personeditor_titel_label
{
	width: 90px;
	margin-left: 10px;
}
ul.widget_masterdata_content_list > li > select#widget_masterdata_personeditor_salutaion_select
{
	width: 80px;
}
ul.widget_masterdata_content_list > li > select#widget_masterdata_personeditor_titel_select
{
	width: 90px;
	margin-left: 10px;
}

ul.widget_masterdata_content_list > li > input#widget_masterdata_personeditor_birthday_input
{
	width: 80px;
}
ul.widget_masterdata_content_list > li > label#widget_masterdata_personeditor_birthdayemail_label
{
	font-size: 14px;
	margin-left: 20px;
}
ul.widget_masterdata_content_list > li > select#widget_masterdata_personeditor_birthdayemail_select
{
	width: 60px;
}
ul.widget_masterdata_content_list > li > textarea#widget_masterdata_personeditor_notes_textarea
{
	width: 265px; 
	resize: none; 
	height: 110px; 
	margin-top: 0px; 
}

