canvas.masterdata_page_headline_back{
	width: 100%; 
	height:27px;
}

/* body
{
	overflow: auto;
} */

div#masterdata_page_wrapper
{
	border: 0px solid #666666;
	margin-top: 0px;
	width: 960px;
	font-size: 15px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;/*
	height: 100%;
	max-height:800px;*/
	overflow-y:scroll;
	
}


div#masterdata_page_wrapper > div.masterdata_page_content_div
{
	border: 2px solid #BBBBBB; 
	margin-top: 10px;
	margin-bottom: 10px;
	
}

div.masterdata_page_content_headline
{
	/*
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	background-color: #EEEEEE;
	border: 0px solid #666666;
	height: 20px;
	*/
	width: 100%; 
	height: 25px; 
	margin-top: -30px; 
	text-align: center; 
	font-size: 18px;
	
}

div.masterdata_page_content_content
{
	border: 0px solid #666666;
	height: 302px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#masterdata_page_contactpersons_area
{
	height: 431px;
}
div#masterdata_page_adresses_area
{
	height: 473px;
}
div#masterdata_page_finance_area
{
	height: 262px;
}

div#masterdata_page_additional_area
{
	height: 262px;
}
