div#widget_masterdata_contactpersons_listdiv
{
	border:1px solid #666666;
	height: 150px;
}

div#widget_masterdata_contactpersons_editdiv
{
	border:1px solid #666666;
	margin-top:10px;
		height: 220px;
}
div#widget_masterdata_contactpersons_buttonsdiv
{
	border:1px solid #666666;
	margin-top:10px;
	height: 35px;
}

div#widget_masterdata_contactpersons_buttonsdiv > button
{
	font-size: 12px;
	height: 25px;
	margin: 5px;
}
div#widget_masterdata_contactpersons_buttonsdiv > button#widget_masterdata_contactpersons_button_new
{
	float: left;
	margin-left: 15px;
}
div#widget_masterdata_contactpersons_buttonsdiv > button#widget_masterdata_contactpersons_button_change
{
	float: right;
	margin-right: 15px;
}
div#widget_masterdata_contactpersons_buttonsdiv > button#widget_masterdata_contactpersons_button_cancel
{
	float: left;
	margin-left: 15px;
	display: none;

}
div#widget_masterdata_contactpersons_buttonsdiv > button#widget_masterdata_contactpersons_button_save
{
	float: right;
	margin-right: 15px;
	display: none;

}
