html.testbench { height: 100%;} 
body.testbench { height: 100%;} 

div#notification_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
div#notification.overlay{
	overflow: hidden;
	max-height: 100%;
}

div#notification.overlay div#notification_wrapper{
	width: 100%;
	padding-top: 50%;
	background: rgba(32,32,32,0.5);
	height: 1000000px;
}

div#notification.overlay div#notification_box{
	margin: -260px auto;
	width: 400px;
	height: 130px;
}

div#notification.popup div#notification_box{
	position: absolute;
	top: 1em;
	right: 1em;	
	width: 320px;
	height: 96px;
	box-shadow: 0px 4px 8px rgba(64,64,64,0.7);
}

button#notification_close{
	float: right;
	margin: 0;	
	background: #707070;
	border: 0;
	color: #eee;
	cursor:  pointer;
}
button#notification_close:active{
	background: #999;
}

div#notification_box{
	border: 2px solid #707070;
	display: block;	background: #eee;
	background: linear-gradient(to top left, #bbb 0%, #eee 100%); 
}
div#notification_box.clickable{
	cursor: pointer;
}
div#notification_box>#notification_text{
	margin: 1em;
	display: block;
}