div#clientoverview_wrapper
{
	width:95%;
	height:95%;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;	
	text-align:left;
	border: 1px solid #666;  
}

div#clientoverview_overflow_wrapper
{
    overflow-y:scroll;
    width:100%;
    height:100%;
}


canvas#clientoverview_headerback{
	width: 100%; 
	height:30px;
}

div#clientoverview_search_div {
	width: 208px; 
	height: 50px; 
	margin-top: 15px; 
	padding: 10px; 
	margin-left: 25px; 
	text-align:left;
	border: 1px solid #ccc;
}
div#clientoverview_headertext{
	width: 100%; 
	height: 25px; 
	margin-top: -32px; 
	text-align: center; 
	font-size: 18px;
}

div#clientoverview_header{
    float: left;
    display: block;
    width: 230px;
}

div#clientoverview_list_area{
    float: right;
	height: 200px; 
	width: 1000px;
	border: 1px solid #ccc; 
	margin-right: 20px;
	margin-bottom: 15px;
	margin-top: 15px
}
div#clientoverview_content_area{
	
	width:972px; 
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.clientoverview_tabcontent{
	 height: 100%; 
	 border:1px solid #ccc;
	 width:100%;
}
div.clientoverview_tabcontent.clientoverview_tabcontent_hidden 
{
	 display: none;
}

ul#clientoverview_filter_list
{
    width: 220px;
    list-style: none outside none;
    border: 1px solid #ccc; 
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 5px;
    text-align: left;
    height: 80px

}

ul#clientoverview_filter_list>li {
	float: left; 
	cursor: default; 
	display: block; 
	height: 20px; 
	width: 15px;
	text-align: center;
	font-size: 18px;
	color: #666666; 
	text-decoration: none; 
	padding-left: 8px; 
	padding-right: 8px; 
	-moz-user-select: none; 
	-webkit-user-select: none;

}
ul#clientoverview_filter_list>li.clientoverview_filter_listelement_active
{
	background-color: #bbb;
}
ul#clientoverview_filter_list>li:hover {

	background-color:  #ddd;
}

ul#clientoverview_clientlist
{
		list-style: none outside none;
		margin: 0px;
		padding: 5px;
}
ul#clientoverview_clientlist > li
{
	display: block; 
	height: 20px; 
	color: black; 
	padding: 0px; 
	margin: 0px;
	border-bottom: 1px solid #666666;
}
ul#clientoverview_clientlist > li:nth-child(odd)
{
		background-color: #EEEEEE;

}
li#clientoverview_clientlist_headline > ul
{
	background: linear-gradient(to bottom, #bbb 0%, #eee 100%);
	text-align: left;
	border-bottom: 2px solid #666666;
}

li#clientoverview_clientlist_headline > ul > li
{
	margin-left: 0px;
	padding-left: 2px;
	
}
li#clientoverview_clientlist_headline > ul > li.clientoverview_clientlist_widening
{
	width: 2px;
	padding: 0px;
	background-color: #666666;
	cursor: e-resize;
	
}
ul.clientoverview_clientlist_entry
{
	height: 20px;
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
}


ul.clientoverview_clientlist_entry > li.clientoverview_clientlist_entry_clientnumber
{
	width:130px;
}
ul.clientoverview_clientlist_entry > li.clientoverview_clientlist_entry_surname
{
	width:140px;
} 
ul.clientoverview_clientlist_entry > li.clientoverview_clientlist_entry_firstname
{
	width:80px;
} 
ul.clientoverview_clientlist_entry > li.clientoverview_clientlist_entry_postcode
{
	width:50px;
} 
ul.clientoverview_clientlist_entry > li.clientoverview_clientlist_entry_city
{
	width:120px;
} 
ul.clientoverview_clientlist_entry > li.clientoverview_clientlist_entry_adress
{
	width:80px;
} 
ul.clientoverview_clientlist_entry>li {
	float: left; 
	cursor: default; 
	display: block; 
	height: 20px; 
	font-size: 15px;
	text-decoration: none; 
	padding: 0px; 
	padding-left: 2px;
	-moz-user-select: none; 
	-webkit-user-select: none;
	overflow: hidden;
	margin-left: 0px;
}



ul#clientoverview_client_tabmenu
{
		height: 20px;
		list-style: none outside none;
		margin: 0px;
		margin-top: 5px;
		padding: 0px;
		width:100%;
}
ul#clientoverview_client_tabmenu > li.clientoverview_client_tabmenu_entry
{
	float: left; 
	cursor: default; 
	display: block; 
	font-size: 15px;
	text-decoration: none; 
	padding: 3px; 
	padding-left: 8px;
	padding-right: 8px;
	-moz-user-select: none; 
	-webkit-user-select: none;
	overflow: hidden;
	
}
ul#clientoverview_client_tabmenu > li.clientoverview_client_tabmenu_entry.clientoverview_client_tabmenu_entry_active
{
		background: linear-gradient(to bottom, #eee 0%, #bbb 100%);

}

input#clientoverview_search_keyword 
{
    width: 150px
}
