div#clipboard_wrapper{
    border: 1px none red;
    
    width:1000px;
    margin:1em auto;
    overflow-x: hidden;
}

div.clipboard_clipboard, 
canvas.clipboard_headerback, 
canvas.clipboard_footerback{
    width:450px;
}

div.clipboard_clipboard{
    border:2px solid #707070;
    display:block;
    background: #fcfcfc;
}

div#clipboard_personalclipboard{
    float:left;
}

div#clipboard_groupclipboard{
    float:right;
}

canvas.clipboard_headerback, div.clipboard_header{
    height:47px;
}

div.clipboard_content {
    height:530px;
    overflow-y: auto;
}

canvas.clipboard_footerback{
    height:23px;
    margin-bottom: -5px; /* uglyhack ff */
}
dontexist:-o-prefocus ,canvas.clipboard_footerback{
    height:23px;
    margin-bottom: -3px; /* uglyhack opera */
}

div.clipboard_footer{
    margin-top:-23px;
}

div.clipboard_header{
    width:360px;
    overflow:hidden;
    margin: auto;
    margin-top: -47px;
}

div.clipboard_header label{
    display: block;
    float:none;
    font-size: 0.7em;
}
div.clipboard_header_group{
    display: inline-block;
    width: 170px;
    text-align:center;
}

select.clipboard_select, input.clipboard_input{
    border:none;
    height:16px;
}

button.clipboard_btnorder{
    width:16px;
    height:16px;
    background-color: transparent;
    background-image: url(../images/nav.png);
    border:none;
}
button.clipboard_btnorder.order_descending{
    background-position: -32px -16px;
}

button.clipboard_btnorder.order_ascending{
    background-position: -48px -16px;
    
}
.clipboard_helper_highlight { 
	margin: 10px; 
	height: 100px; 
	width:413px; 
	border-width:2px; 
	border-color:#707070; 
	border-style:dotted;
	}
.clipboard_content_list{
	list-style: none; 
	min-height: 413px; 
	padding: 0px;
}
.clipboard_list_element{
	margin: 10px;
	padding: 0px;
	width: 413px; 
	border: 1px solid rgb(112, 112, 112); 
	cursor: default;
	text-align:left;
}
.clipboard_list_element table {
	height: 100%;
	width: 330px;
}
.clipboard_list_element_left {
	text-align: left;
	width:75px
}

.align_right{
    text-align:right
}    

.clipboard_tool_loading{
    font-style:italic
}

