#loginform_footer, #loginform_header{
    height: 23px; width: 350px}
#loginform_footer{
    margin-bottom: -4px}
    
#login{
    vertical-align:middle; text-align:center; width:350px; border: 2px solid #707070;
    box-shadow: 0px 4px 8px rgba(64,64,64,0.7);}
    
#loginbtn_cell{
    text-align:right}
    
#loginform_form{
    text-align:center}
    
#login_wrapper{
    width:100%; text-align:center; vertical-align:middle; height:100%}

