
div#widget_masterdata_adresses_listdiv
{
	border:1px solid #666666;
	height: 150px;
}

div#widget_masterdata_adresses_editdiv
{
	border:1px solid #666666;
	margin-top:10px;
	height: 262px;
}
div#widget_masterdata_adresses_buttonsdiv
{
	border:1px solid #666666;
	margin-top:10px;
	height: 35px;
}

div#widget_masterdata_adresses_buttonsdiv > button#widget_masterdata_adresses_button_new
{
	float: left;
	font-size: 12px;
	height: 25px;
	margin: 5px;
	margin-left: 15px;
}
div#widget_masterdata_adresses_buttonsdiv > button#widget_masterdata_adresses_button_cancel
{
	float: left;
	font-size: 12px;
	height: 25px;
	margin: 5px;
	margin-left: 15px;
}
div#widget_masterdata_adresses_buttonsdiv > button#widget_masterdata_adresses_button_change
{
	float: right;
	font-size: 12px;
	height: 25px;
	margin: 5px;
	margin-right: 15px;
}
div#widget_masterdata_adresses_buttonsdiv > button#widget_masterdata_adresses_button_save
{
	float: right;
	font-size: 12px;
	height: 25px;
	margin: 5px;
	margin-right: 15px;
}
div#widget_masterdata_adresses_buttonsdiv > button.widget_masterdata_adresses_button_hide
{
	display: none;
}