
div#widget_masterdata_main_head
{
	border: 1px solid #666666; 
	background-color: #EEEEEE;
	margin: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

div#clientoverview_tab_masterdata_main
{
    overflow-y:scroll;
}

div#widget_masterdata_main_head > div > label
{
	display:inline-block;
	font-size: 14px;
}

div#widget_masterdata_main_head > div > input
{
	width: 100px;
	font-size: 14px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;	
}

div#widget_masterdata_main_head > div > select
{
	width: 120px;
	font-size: 14px;
}

div#widget_masterdata_main_head > div#widget_masterdata_main_head_left
{
	float: left;
}

div#widget_masterdata_main_head > div#widget_masterdata_main_head_center
{
	float: left;
	margin-left: 60px;
}

div#widget_masterdata_main_head > div#widget_masterdata_main_head_center > input#widget_masterdata_main_category_input
{
	width: 300px;
}

div#widget_masterdata_main_head > div#widget_masterdata_main_head_right
{
	float: right;
}

div#widget_masterdata_main_head > select:disabled
{
	
}

ul.widget_masterdata_content_list > li > label#widget_masterdata_main_zipcode_label
{
	width: 60px;
}

ul.widget_masterdata_content_list > li > input#widget_masterdata_main_zipcode_input
{
	width: 60px;
}

ul.widget_masterdata_content_list > li > label#widget_masterdata_main_city_label
{
	margin-left: 10px;
}

ul.widget_masterdata_content_list > li > input#widget_masterdata_main_city_input
{
	width: 186px;
	margin-left: 4px;
}

ul.widget_masterdata_content_list > li > label#widget_masterdata_main_telephone_label
{
	width: 122px;
}

ul.widget_masterdata_content_list > li > input#widget_masterdata_main_telephone_input
{
	width: 122px;
}

ul.widget_masterdata_content_list > li > label#widget_masterdata_main_fax_label
{
	margin-left: 10px;
}

ul.widget_masterdata_content_list > li > input#widget_masterdata_main_fax_input
{
	width: 124px;
	margin-left: 4px;
}

div.widget_masterdata_content_row > img#widget_masterdata_main_companylogo
{
	display:block ; 
	max-width:  230px; 
	max-height: 100px;
	min-width: 100px; 
	min-height: 100px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 10px;
}

div.widget_masterdata_content_row > button#widget_masterdata_main_change_companylogo
{
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	margin-top: 5px;
}

div.widget_masterdata_content_row#widget_masterdata_content_row_comment_div
{
	margin-left:0px;
	border: 0px;
	height: 100px; 
	margin-top: 5px;
}

div.widget_masterdata_content_row#widget_masterdata_content_row_comment_div > span.widget_masterdata_main_content_headline
{
	font-weight: bold;
	margin-left: 5px;
}

div.widget_masterdata_content_row#widget_masterdata_content_row_comment_div > textarea#widget_masterdata_content_row_comment
{
	width: 285px; 
	resize: none; 
	height: 75px; 
	margin-top: 0px; 
	margin-left: 5px; 
	text-align: left; 
	font-size: 12px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
