div.masterdata_wrapper
{
	border: 0px solid #666666;   
	margin-top: 0px;
	width: 940px;
	font-size: 15px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

div.widget_masterdata_content_row
{
	float: left; 
	border: 1px solid #C8C8C8; 
	margin: 5px;
	padding: 0px;
	width: 300px;
	height: 250px;
}

div.widget_masterdata_content_row > span.widget_masterdata_content_row_headline
{
	font-weight: bold;
	font-size: 13px;
	margin: 2px;
	padding: 0px;
	display: block;
}

ul.widget_masterdata_content_list
{
	list-style:none outside none; 
	padding: 0px; 
	margin: 0px; 
	margin-left: 15px;
}

ul.widget_masterdata_content_list > li
{
	margin-top: 3px;
}

ul.widget_masterdata_content_list > li > label
{
	font-size: 12px;
	display:inline-block;
}

ul.widget_masterdata_content_list > li > select
{
	width: 266px;
	font-size: 14px;
	display:inline-block;
}

ul.widget_masterdata_content_list > li > select:disabled
{

}

ul.widget_masterdata_content_list > li > input
{
	width: 260px;
	font-size: 14px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

ul.widget_masterdata_content_list > li > input:disabled
{

}
ul.widget_masterdata_content_list > li > textarea
{
	resize: none; 
	text-align: left; 
	font-size: 12px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

ul.widget_masterdata_content_list > li > textarea:disabled
{

}
