


div#widget_masterdata_content_row_accounting
{
	height: 73px;	
	margin: 0px;
}

div#widget_masterdata_content_row_banking
{
	height: 165px;
	margin: 0px;	
	margin-top: 10px;
}
div#widget_masterdata_content_row_accounting_banking
{
	border: 0px;
}



textarea#widget_masterdata_finance_shippingnote_textarea
{
	width: 260px; 
	height: 56px; 

}
textarea#widget_masterdata_finance_discountnote_textarea
{
	width: 260px; 
	height: 56px; 
}


span#widget_masterdata_content_row_headline_bank
{
	margin-top: 15px;
}

label#widget_masterdata_finance_blz_label
{
	width: 90px;
}
label#widget_masterdata_finance_bank_label
{
	width: 140px;
	margin-left: 15px;
}
input#widget_masterdata_finance_blz_input
{
	width: 90px;
}
input#widget_masterdata_finance_bank_input
{
	width: 150px;
	margin-left: 10px;
}


label#widget_masterdata_finance_debitorennumber_label
{
	width: 90px;
}
label#widget_masterdata_finance_taxnumber_label
{
	width: 140px;
	margin-left: 15px;
}
input#widget_masterdata_finance_debitorennumber_input
{
	width: 90px;
}
input#widget_masterdata_finance_taxnumber_input
{
	width: 150px;
	margin-left: 10px;
}

