body.testbench{
    padding:0;
    margin:0;
}

ul#nav, ul#nav ul{
    list-style: none;
    padding: 0;    
    margin:  0;
    overflow: hidden;
}
ul#nav {
    border-bottom: 1px solid #bbb;
    background: #eee;
    background: #eee linear-gradient(to bottom, #bbb 0%, #eee 100%);
    height: 28px;
    padding: 0 8px;
}
ul#nav li {
    display: block;
    float: left;
}

ul#nav>li#nav_tooltip{
    font-weight: 100;
    font-size: 0.9em;
    margin-top:0.3em;
    margin-left:0.3em;
    padding: 0.1em 1em;
    background:white;
	border-radius: 3px;
}

ul#nav>li#nav_tooltip.hidden{
    display:none;
}

ul.nav_subnav{
    border-right: 1px solid #aaa;
    height: 28px;
}
ul.nav_subnav.hidden{
    visibility: hidden;
    display:none;
}

ul.nav_subnav>li a{
    background-position: -240px -240px;
    background-image: url(../images/nav/icons.png);
    display: block;
    width:  24px;
    height: 24px;
    margin: 3px 3px 0 0;
}

ul.nav_subnav>li a:hover{
	background-image: url(../images/nav/icons_color.png);
}

/* icons */
/*main*/
ul.nav_subnav>li a#nav_back{
    background-position: 0px 0px;
}

ul.nav_subnav>li a#nav_forward{
    background-position: -24px 0px;
}

ul.nav_subnav>li a#nav_reload{
    background-position: -48px 0px;
}

ul.nav_subnav>li a#nav_toclipboard{
    background-position: -72px 0px;
}

ul.nav_subnav>li a#nav_options{
    background-position: -96px 0px;
}

ul.nav_subnav>li a#nav_shutdown{
    background-position: -120px 0px;
}

/*pages*/
ul.nav_subnav>li a#nav_masterdata{
    background-position: -96px -24px;
}

/*document*/
ul.nav_subnav>li a#nav_newdoc{
    background-position: 0px -24px;
}

ul.nav_subnav>li a#nav_loaddoc{
    background-position: -24px -24px;
}

ul.nav_subnav>li a#nav_savedoc{
    background-position: -48px -24px;
}

ul.nav_subnav>li a#nav_revertallchanges{
    background-position: -72px -24px;
}

ul.nav_subnav>li a#nav_movetoownclipboard{
    background-position: -96px -24px;
}

ul.nav_subnav>li a#nav_movetogroupcliboard{
    background-position: -120px -24px;
}

/*edit*/
ul.nav_subnav>li a#nav_copy{
    background-position: 0px -48px;
}

ul.nav_subnav>li a#nav_paste{
    background-position: -24px -48px;
}

ul.nav_subnav>li a#nav_undo{
    background-position: -48px -48px;
}

ul.nav_subnav>li a#nav_redo{
    background-position: -72px -48px;
}

ul.nav_subnav>li a#nav_bold{
    background-position: -96px -48px;
}

ul.nav_subnav>li a#nav_underline{
    background-position: -120px -48px;
}

ul.nav_subnav>li a#nav_italic{
    background-position: -144px -48px;
}

ul.nav_subnav>li a#nav_fontoptions{
    background-position: -168px -48px;
}

ul.nav_subnav>li a#nav_spellcheck{
    background-position: -192px -48px;
}

/*output*/
ul.nav_subnav>li a#nav_print{
    background-position: 0px -72px;
}

ul.nav_subnav>li a#nav_printpreview{
    background-position: -24px -72px;
}

ul.nav_subnav>li a#nav_printoption{
    background-position: -48px -72px;
}

ul.nav_subnav>li a#nav_export{
    background-position: -72px -72px;
}

/*masterdata*/
/*---main---*/
ul.nav_subnav>li a#nav_masterdata_address{
	background-position: 0px -96px;
}

ul.nav_subnav>li a#nav_masterdata_contactperson{
	background-position: -24px -96px;
}

ul.nav_subnav>li a#nav_masterdata_furtheraddress{
	background-position: -96px -120px;
}

ul.nav_subnav>li a#nav_masterdata_finance{
	background-position: -48px -96px;
}

ul.nav_subnav>li a#nav_masterdata_additional{
	background-position: -72px -96px;
}

/*---context---*/
ul.nav_subnav>li a#nav_masterdata_openitems{
	background-position: 0px -120px;
}

ul.nav_subnav>li a#nav_masterdata_alloffers{
	background-position: -24px -120px;
}

ul.nav_subnav>li a#nav_masterdata_allorders{
	background-position: -48px -120px;
}

ul.nav_subnav>li a#nav_masterdata_allsalescurrentyear{
	background-position: -72px -120px;
}

ul.nav_subnav>li a#nav_masterdata_allsaleslastyear{
	background-position: -96px -120px;
}

ul.nav_subnav>li a#nav_masterdata_allsalesfromyear{
	background-position: -120px -120px;
}

ul.nav_subnav>li a#nav_masterdata_allsales{
	background-position: -144px -120px;
}

ul.nav_subnav>li a#nav_masterdata_allsampleshipments{
	background-position: -168px -120px;
}

ul.nav_subnav>li a#nav_masterdata_dispoorders{
	background-position: -192px -120px;
}

ul.nav_subnav>li a#nav_masterdata_history{
	background-position: -218px -120px;
}


/*clientoverview*/
/*---main---*/
ul.nav_subnav>li a#nav_clientoverview_customer_new{
	background-position: 0px -144px;
}

ul.nav_subnav>li a#nav_clientoverview_customer_edit{
	background-position: -24px -144px;
}

ul.nav_subnav>li a#nav_clientoverview_customer_delete{
	background-position: -48px -144px;
}
/*---context---*/
ul.nav_subnav>li a#nav_clientoverview_show_allsales{
	background-position: -72px -144px;
}
ul.nav_subnav>li a#nav_clientoverview_show_clientdata{
	background-position: -96px -24px;
}
ul.nav_subnav>li a#nav_clientoverview_show_deliverynotes{
	background-position: -96px -24px;
}
ul.nav_subnav>li a#nav_clientoverview_show_invoices{
	background-position: -96px -24px;
}
ul.nav_subnav>li a#nav_clientoverview_show_quotes{
	background-position: -96px -24px;
}
