html.testbench { height: 100%;} 
body.testbench { height: 100%;} 

div#notification_container {

	position: absolute;
	right: 0;
	top: 20px;	
	height: 100%;	
	width: 30%;
	padding: 0;
	display: block;
	}
/* for notification div tag*/

.widget_notification_wrapper_popup{
	
	
	position: absolute;
	right:0;

	
	max-height: 100%;	
	min-width: 300px;
	
	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;

	/*background: rgba(32,32,32,0.5);*/
	border: 3px solid #707070;
	background: linear-gradient(to top left, #bbb 0%, #eee 100%); 

	overflow-y: scroll;
	overflow-x: hidden;
}


.widget_notification_box_popup{
		
	position: relative;
	top: 0em;
	left: 1em;
	right: 1em;	
	width: 320px;

	margin-top: 5px;

	min-height: 96px;
	box-shadow: 0px 4px 8px rgba(64,64,64,0.7);
	border: 2px solid #707070;
	display: block;	background: #eee;	
	background: linear-gradient(to top left, #bbb 0%, #eee 100%); 
	clear: left;
	overflow: hidden;
}

.widget_notification_close{
	float: right;
	margin: 0;	
	background: #707070;
	border: 0;
	color: #eee;
	cursor:  pointer;
}
.widget_notification_close:active{
	background: #999;
}

.widget_notification_box_clickable{
	cursor: pointer;
}
.widget_notification_text{
	margin: 10px;
	display: block;
}

.widget_notification_testelements{
	display: none;
}

.widget_notification_row { 
  width: 100%;
  letter-spacing: -0.31em;
}
.widget_notification_col{ 
  display: inline-block;
  vertical-align: top;
  /*border: 1px solid black;*/
  /*background: #ccc;*/  
  padding: 3px;  
  letter-spacing: normal;
  /*width: auto;*/
  width: 70px;
  text-align: center;
}

/*   for overlay*/
.notification_overlay{
	overflow: hidden;
	max-height: 100%;
}

.notification_wrapper_overlay{
	width: 100%;
	padding-top: 50%;
	background: rgba(32,32,32,0.5);
	height: 1000000px;
}
.notification_box_overlay{
	margin: -260px auto;
	width: 400px;
	height: 130px;
	border: 2px solid #707070;
	display: block;	background: #eee;
	background: linear-gradient(to top left, #bbb 0%, #eee 100%); 
}