div.overviewlist_wrapper{
	height: 100%; 
	width: 100%; 
	overflow-y: hidden; 
}
ul.overviewlist_list
{
		list-style: none outside none;
		margin: 0px;
		padding: 0px;
		
		
}
ul.overviewlist_list_headline
{
	padding-bottom:0px;
	/*padding-right: 22px;*/
}
ul.overviewlist_list_content
{
	height: 150px;
	padding-top:0px;
	padding-bottom:0px;

	overflow-y: scroll;
	
}

ul.overviewlist_list > li
{
	display: block; 
	height: 20px; 
	color: black; 
	padding: 0px; 
	margin: 0px;
	border-bottom: 1px solid #666666;
	text-align: left;
	
}
/*
ul.overviewlist_list > li:nth-child(even)
{
		background-color: #EEEEEE;

}
*/
ul.overviewlist_list > li.hidden
{
		display: none;
}
ul.overviewlist_list > li.highlight
{
		background-color: #EEEEEE;
}

ul.overviewlist_list_headline > li > ul
{
	background: linear-gradient(to bottom, #eee 0%, #bbb 100%);
	text-align: left;
	border-bottom: 2px solid #666666;
}

ul.overviewlist_list_headline > li > ul > li.overviewlist_list_widening
{
	width: 2px;
	padding: 0px;
	background-color: #666666;
	cursor: e-resize;
	
}
li.overviewlist_list > ul > li
{
	margin-left: 0px;
	/*padding-left: 2px;*/
	
	
	
}


ul.overviewlist_list_entry
{
		height: 20px;
		list-style: none outside none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;

}

ul.overviewlist_list_entry.overviewlist_list_entry_active
{
	background-color: #666666;
	color: white;			
}

ul.overviewlist_list_entry > li
{
	width:100px;
	
}

ul.overviewlist_list_entry > li.overviewlist_list_widening
{
	width:0px;
}
ul.overviewlist_list_entry>li {
	float: left; 
	cursor: default; 
	display: block; 
	height: 20px; 
	font-size: 15px;
	text-decoration: none; 
	padding: 0px; 
	padding-left: 2px;
	-moz-user-select: none; 
	-webkit-user-select: none;
	overflow: hidden;
	margin-left: 0px;
}

