
div#settings{
    border:2px solid #707070;
    border-top: none;
    display:block;
    background: #fcfcfc;
    position: absolute;
    left:50%;
    margin-left: -225px;
	box-shadow: 0px 4px 8px rgba(64,64,64,0.7);
}

button#settings_btnclose{
    position: relative;
    display:block;
    margin:4px 4px 4px auto;
}

div#settings.hidden{
    visibility: hidden;
}

canvas.settings_footerback{
    height:23px;
    margin-bottom: -5px; /* uglyhack ff */
    bottom:0;
}

div#settings, canvas.settings_footerback{
    width:550px;
}

form#settings_groups{
	padding:0 0 23px 0;
    font-size: 0.9em;
}

ul.settings_item_group{
    margin:0;
    padding:0 23px 0 0;
    list-style:none;
    display: inline-block;
    border-right:1px inset;
}

li.settings_item>label{
    width:110px;
    display:inline-block;
    text-align: right;
    padding-right:10px;
}
li.settings_item>input{
    width:110px;
}
li.settings_item>input[type=text]{
    border:1px solid #707070;
    padding: 0 0.2em;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
li.settings_item .settings_item_subgroup{
    display: inline-block;
    width: 110px;
}
